fastapi
authlib
uvicorn
google-auth
starlette<0.38.0
python-dotenv
numpy
pydantic
pydantic-settings
pydantic[email]
ultralytics
python-multipart
pytest
httpx
asyncio
sqlalchemy
bcrypt==4.0.1
passlib
python-jose[cryptography]